<table>
  <tr>
      <td class="left"><img width="204" height="87" src="{{ '/static/logo.jpg'|asseturl }}" alt="Centaur Technology Logo"/></td>
      <td class="middle"><a href="/"><h1 style="margin-left: 5%; margin-right: 10%">Glenn&rsquo;s Computer Museum</h1></a></td>
      <td class="right">
        <form id="search" action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="www.glennsmuseum.com">
            <input autocomplete="on" class="form-control search" name="q" placeholder="Search Glenn's Computer Museum" type="text">
            <button class="button" type="submit">Search</button>
        </form>
      </td>
</tr>
</table>

<table class="main_nav">
  <tr >
    <td class="nav_entry"><a href="/">Home</a></td>
    <td class="nav_entry"><a href="/new/">New</a></td>
    <td class="nav_entry"><a href="/bombsights/">Old Military</a></td>
    <td class="nav_entry"><a href="/latermil/">Later Military</a></td>
    <td class="nav_entry"><a href="/analog/">Analog Stuff</a></td>
    <td class="nav_entry"><a href="/ibm/">IBM Stuff<a></td>
    <td class="nav_entry"><a href="/items/s3m6/">S/3 Mod 6</a></td>
    <td class="nav_entry"><a href="/items/s32/">S/32</a></td>
    <td class="nav_entry"><a href="/components/">Components</a></td>
    <td class="nav_entry"><a href="/encryption/">Encryption</a></td>
    <td class="nav_entry"><a href="/misc/">Misc</a></td>
    <td class="nav_entry"><a href="/items/b61/">B61</a></td>
  </tr>
</table>

<div>
<p class="align_right">
 <em><a href="/change-log/">change log</a></em> |
 <em><a href="mailto:glennh@cincocerros.com">contact me</a></em> |
 <a href="/feed.atom"><img id="feed_icon" src="/static/feed-icon-28x28.png" alt="Subscribe to RSS feed"></a>
</p>
</div>
<div style="clear: both;"></div>
<hr>

