<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="KSWRBxW7S53HqWp9T-O2chz_C5bLfBarQLc3g976H6o">
<meta name="description" content="A collection of old IBM and military computers.">

<link rel="stylesheet" media="screen" href="{{ '/static/museum.css'|asseturl }}">
<link rel="shortcut icon" href="{{ '/favicon.ico'|url }}">
<link rel="alternate" type="application/atom+xml" href="{{ '/feed.atom'|url }}">

<title>{% block title %}{% endblock %} — Glenn's Computer Museum</title>

<script defer src="https://cloud.umami.is/script.js" data-website-id="8cb65d9f-5f35-4df8-ac1d-7aa90298c444" data-domains="www.glennsmuseum.com"></script>
</head>
<body>
  <header>
    {% include "header.html" %}
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    {% include "footer.html" %}
  </footer>
</body>
</html>
